{% extends 'accounts/base.html' %}

{% block content %}
<html>
    <head>
    {% block title %} <title>Главная</title> {% endblock %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
    </head>

    <body>
    <h2>Магазин оптовых продаж пшеницы и овса</h2>
    <img src="{% static 'accounts/pshenica.jpeg' %}" alt="My image">
    <h1>
        Пшени́ца (лат. Tríticum) — род травянистых, в основном однолетних, растений семейства Злаки,
        или Мятликовые (Poaceae), ведущая зерновая культура во многих странах.
        Получаемая из зёрен пшеницы мука используется при выпекании хлеба, изготовлении макаронных
        и кондитерских изделий. Пшеница также используется как кормовая культура, входит в некоторые
        рецепты приготовления пива и водки, а также виски.
    </h1>
    <img src="{% static 'accounts/oves.jpg' %}" alt="My image">
    <h1>
        Овёс (лат. Avéna, русское название родственно латинскому, а также лит.
        avižà «овёс», греч. αἰγίλωψ «овсюг»[источник не указан 477 дней]) — род
        однолетних травянистых растений из семейства Злаки, или Мятликовые (Poaceae),
        включающий широко известный вид — овёс посевной, возделываемый в промышленных
        масштабах как пищевое и кормовое растение.
    </h1>


    </body>
</html>
{% endblock content %}